/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF CODE*/


body
{
margin:0 auto; 
width:100%;
background-color:rgb(242,217,176);
}

#SiteWrapper 
{
text-align:center;
margin:0 auto; 
width:100%;
}

h1 {
font-family: 'BebasNeueRegular';
letter-spacing: 2px;
font-size:4em;
text-shadow:2px 2px 2px rgb(89,47,22);
color:white;
}

h2 {
font-family: 'PacificoRegular';
padding:230px 20px 60px 20px;
letter-spacing: 2px;
font-size:3em;
text-shadow:2px 2px 2px rgb(89,47,22);
color:rgb(242,112,82);
background-image:url('Images/workheadline.png');
background-repeat:no-repeat;
background-position:center;
}

h3
{
font-family: 'Archivo Narrow', sans-serif;
font-size:1.75em;
color:rgb(89,47,22);
padding:0px 0px 40px 0px;
}

h4
{
font-family: 'Archivo Narrow', sans-serif;
font-size:1em;
color:rgb(89,47,22);
padding:0px 0px 40px 0px;
}

p 
{
margin-top:2px;
font-family: 'Archivo Narrow', sans-serif;
font-size:.75em;
line-height:30px;
color:rgb(89,47,22);
}

a {text-decoration:none;}



#topbanner {
margin-top:100px;
}



#Nav
{
padding:20px 0px 20px 0px;
margin:0px;
width:100%;
top:0px;
left:0px;
right:0px;
position:fixed;
background-color:rgb(89,47,22)
}


ul
{float:left;
padding:0px 89px 0px 0px;
left:0px;
background-image:url('Images/navbarribbon.png');
background-repeat:no repeat;
background-position:left;
}

li {
float:left;
padding:25px;
text-shadow:none;
}

li a {
		color:white;
		font-family: 'BebasNeueRegular';
		font-size:1em;
		letter-spacing: 2px;
		}
		
li a:hover {

text-shadow:1.5px 1.5px 1.5px black;
}
		
#Pinterest, #Twitter, #Instagram, #Email
{
padding:30px 15px 30px 15px;
}


#Resume 
{font-family: 'PacificoRegular';
 color:white;
 font-size:1em;
 margin:20px 30px 0px 0px;
 float:right;}


.Here
{color:white;
 font-family: 'BebasNeueRegular';
 font-size:1em;
 letter-spacing:2px;
 padding:0px 0px 0px 10px;
 } 
 

 

 
 

 


	
#DesignWork 
{
padding:140px 0px 160px 0px;
width:100%;
background-color:rgb(242,217,176);
height:800px;

}


#Row1,#Row2
{
padding:0px;

}


#Lemons 
 {

}



#AboutMeSection
{
margin:0 auto;
padding:280px 0px 160px 0px;
text-align:center;
width:60%;
background-color:rgb(242,217,176);

}

#AboutMe

{
margin-top:0px;
font-family: 'Archivo Narrow', sans-serif;
font-size:1.75em;
line-height:40px;
padding:0px 40px 40px 40px;
width:100%;
text-align:left;
}

#firstsentence {color:rgb(54,191,166);
				}
				
#FindMe
{
padding:160px 0px 160px 0px;

background-repeat:no-repeat;
background-position:center;
}


#FindMeSection
{
text-align:center;
padding:0px 0px 160px 0px;
width:100%;
background-color:rgb(242,217,176);
}




@font-face {
    font-family: 'BebasNeueRegular';
    src: url('Fonts/BebasNeue-webfont.eot');
    src: url('Fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/BebasNeue-webfont.woff') format('woff'),
         url('Fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('Fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'PacificoRegular';
    src: url('Fonts/Pacifico-webfont.eot');
    src: url('Fonts/Pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/Pacifico-webfont.woff') format('woff'),
         url('Fonts/Pacifico-webfont.ttf') format('truetype'),
         url('Fonts/Pacifico-webfont.svg#PacificoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }