#content {margin:0 auto;
	  width:960px;
		}

h3, body, aside {font-family:helvetica;
				}

h1, h2 {font-size:25px;
	text-transform:uppercase;
	font-family: 'ChunkFiveRegular';
	}
	
h2 {font-size:15px;
	}

h3 {font-size:10px;
	}

h4, body {font-size:10px;
	}

nav {text-align:left;
	 width:100%;
	 position:relative;
	 margin:10px 0px 20px 182px;
	}
	
	
.menu { position:absolute;
	list-style-type: none;
	width:30%;
	margin:0px 0px 30px 0px;
	}
	
.menu2 { position:absolute;
		list-style-type:none;
		width:30%;
		margin:0px 0px 30px 200px;
		}

li {float:left;
	padding:2px;
	text-decoration:none;
	font-size:8px;
	width:100%
	}

img {width:100%;
    height:70px;
    margin:70px 0px 0px 0px;}
	
article { float:left; 
		  width:60%; 
		  padding:0px;
		  margin:0px 0px 60px 0px; }

aside { float:right; 
        margin:13px 0px 60px 0px;
        padding:0px; }
        

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('fonts/Chunkfive-webfont.eot');
    src: url('fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Chunkfive-webfont.woff') format('woff'),
         url('fonts/Chunkfive-webfont.ttf') format('truetype'),
         url('fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


