



/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	margin:0 auto;
	width:960px;
}
ol, ul {
	list-style: 
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






body { margin:0 auto;
		width:960px;
		
		
	}

		
#Dogs {  position:absolute;
			   margin:10px 0px 0px 230px;
			   font-size:105px;
			   font-family:'LeagueGothicRegular';
			}
			
#Cats {  position:absolute;
			   margin:10px 0px 0px 460px;
			   font-size:105px;
			   font-family:'LeagueGothicRegular';
			}
			
#VS {  position:absolute;
			   margin:15px 0px 0px 385px;
			   font-size:60px;
			   font-family:Georgia;
			   color:grey;	
			   font-style:italic;
			   padding:4px 0px 4px 0px;
			   border-top-style:solid;
			   border-bottom-style:solid;
			   border-width:5px;
			}
			
#insideborder {border-top-style:solid;
			   border-bottom-style:solid;
			   border-width:2px;
			   padding:0px;}	

.menu { position:absolute;
		margin:130px 20px 20px 30px;
		border-style:solid;
		border-width:4px 0px 4px 0px;
		border-color:black;
		padding:5px 24px 5px 0px;}

li {
	 padding:0px 10px 0px 10px;
	float:left;
    background-color:white;
    color:black;
    text-transform:uppercase;
    font-style:bold;
    font-family:Georgia;
    font-size:25px;
    margin:0px 0px 0px 30px;
   }

#lione { list-style-type:none;
		 }

article {float:left;
		width:40%
		}


#Dog { margin:195px 0px 0px 30px;}

#Cat {margin:195px 0px 0px 30px;}



p { 
		margin:10px 0px 100px 30px;
		width:90%;
		font-family:georgia;
	   }
	   
	   

h2 {font-size:30px;
	margin:10px 0px 5px 30px;
   }


footer { position:relative;
		font-family:georgia;
		font-size:10px;
		border-style:solid;
		border-width:4px 0px 0px 0px;
		border-color:black;
		background-color:white;
		
	    }

#image-copyright {  padding:15px 500px 0px 0px;
					position:absolute;
					margin:750px 0px 0px 30px;
					
					}

#image-copyrighttwo { padding:15px 0px 0px 0px;
					  margin:750px 0px 0px 636px;
					  position:absolute;

					
					}
						


			
			

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/League_Gothic-webfont.eot');
    src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/League_Gothic-webfont.woff') format('woff'),
         url('fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h2 { font-family: 'LeagueGothicRegular';
	 font-weight:bold;}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }



